<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Sales SmartBr</title>
    </h:head>
    <h:body>
        <ui:composition>
            <ui:insert name="sidebar">
                <ui:include src="siderbar_responsive.xhtml"/>
            </ui:insert>
            <h:panelGroup layout="block" styleClass="header">
                <h:panelGroup layout="block" styleClass="header__top">
                    <h:panelGroup layout="block" styleClass="container">
                        <h:panelGroup layout="block" styleClass="row">
                            <h:panelGroup layout="block" styleClass="col-lg-6 col-md-6">
                                <h:panelGroup layout="block" styleClass="header__top__left">
                                    <ul>
                                        <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                                        <li>Free Shipping for all Order of $99</li>
                                    </ul>
                                </h:panelGroup>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="col-lg-6 col-md-6">
                                <h:panelGroup layout="block" styleClass="header__top__right">
                                    <h:panelGroup layout="block" styleClass="header__top__right__social">
                                        <p:link href="./"><i class="fa fa-facebook"></i></p:link>
                                        <p:link href="./"><i class="fa fa-twitter"></i></p:link>
                                        <p:link href="./"><i class="fa fa-linkedin"></i></p:link>
                                        <p:link href="./"><i class="fa fa-pinterest-p"></i></p:link>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" styleClass="header__top__right__language">
                                        <p:graphicImage value="resources/img/language.png" alt="image"/>
                                        <h:panelGroup layout="block">English</h:panelGroup>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" styleClass="header__top__right__auth">
                                        <a href="#"><i class="fa fa-user"></i> Login</a>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="container">
                    <h:panelGroup layout="block" styleClass="row">
                        <h:panelGroup layout="block" styleClass="col-lg-3">
                            <h:panelGroup layout="block" styleClass="header__logo">
                                <p:graphicImage value="resources/img/logo.png"/>
                            </h:panelGroup>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="col-lg-6">
                            <h:panelGroup layout="block" styleClass="header__menu">
                                <ul>
                                    <li class="active"><a href="./">Home</a></li>
                                    <li><a href="./shop-grid.html">Shop</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul class="header__menu__dropdown">
                                            <li><p:link href="./">Shop Details</p:link></li>
                                            <li><p:link href="./">Shoping Cart</p:link></li>
                                            <li><p:link href="./">Check Out</p:link></li>
                                            <li><p:link href="./">Blog Details</p:link></li>
                                        </ul>
                                    </li>
                                    <li><a href="./blog.html">Blog</a></li>
                                    <li><a href="./contact.html">Contact</a></li>
                                </ul>
                            </h:panelGroup>
                        </h:panelGroup>
                        <h:panelGroup layout="block" class="col-lg-3">
                            <h:panelGroup layout="block" class="header__cart">
                                <ul>
                                    <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                                </ul>
                                <div class="header__cart__price">item: <span>$150.00</span></div>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                    <h:panelGroup layout="block" class="humberger__open">
                        <i class="fa fa-bars"></i>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
        </ui:composition>
    </h:body>
</html>

