<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Sales SmartBr</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:panelGroup layout="block" styleClass="humberger__menu__overlay"></h:panelGroup>
            <h:panelGroup layout="block" styleClass="humberger__menu__wrapper">
                <h:panelGroup layout="block" styleClass="humberger__menu__logo">
                    <a href="#"><p:graphicImage value="resources/img/logo.png" alt=""/></a>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="humberger__menu__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                    <h:panelGroup layout="block" styleClass="header__cart__price">item: <span>$150.00</span></h:panelGroup>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="humberger__menu__widget">
                    <h:panelGroup layout="block" styleClass="header__top__right__language">
                        <p:graphicImage value="resources/img/language.png" alt=""/>
                        <h:panelGroup layout="block">English</h:panelGroup>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="header__top__right__auth">
                        <a href="#"><i class="fa fa-user"></i> Login</a>
                    </h:panelGroup>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="humberger__menu__nav mobile-menu">
                    <ul>
                        <li class="active"><a href="./index.html">Home</a></li>
                        <li><a href="./shop-grid.html">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </h:panelGroup>
                <h:panelGroup layout="block" id="mobile-menu-wrap"></h:panelGroup>
                <h:panelGroup layout="block" styleClass="header__top__right__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="humberger__menu__contact">
                    <ul>
                        <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                        <li>Free Shipping for all Order of $99</li>
                    </ul>
                </h:panelGroup>
            </h:panelGroup>
        </ui:composition>
    </h:body>
</html>

