<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Sales SmartBr</title>
        <h:outputStylesheet library="css" name="bootstrap.min.css"/>
        <h:outputStylesheet library="webjars" name="font-awesome/4.7.0/css/font-awesome.min-jsf.css"/>
        <h:outputStylesheet library="css" name="elegant-icons.css"/>
        <h:outputStylesheet library="css" name="nice-select.css"/>
        <h:outputStylesheet library="css" name="jquery-ui.min.css"/>
        <h:outputStylesheet library="css" name="owl.carousel.min.css"/>
        <h:outputStylesheet library="css" name="slicknav.min.css"/>
        <h:outputStylesheet library="css" name="style.css"/>
    </h:head>
    <h:body>
        <ui:insert name="header">
            <ui:include src="/pages/home/header/header.xhtml"/>
        </ui:insert>
        <ui:insert name="section">
            <ui:include src="/pages/home/section/section.xhtml"/>
            <ui:include src="/pages/home/section/section2.xhtml"/>
        </ui:insert>
        
        <h:outputScript library="js" name="jquery-3.3.1.min.js"/>
        <h:outputScript library="js" name="bootstrap.min.js"/>
        <h:outputScript library="js" name="jquery.nice-select.min.js"/>
        <h:outputScript library="js" name="jquery-ui.min.js"/>
        <h:outputScript library="js" name="jquery.slicknav.js"/>
        <h:outputScript library="js" name="mixitup.min.js"/>
        <h:outputScript library="js" name="owl.carousel.min.js"/>
        <h:outputScript library="js" name="main.js"/>
    </h:body>
</html>

