<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        
    </h:head>
    <h:body>
        <ui:composition>
            <h:panelGroup layout="block" class="featured spad">
                <h:panelGroup layout="block" class="container">
                    <h:panelGroup layout="block" class="row">
                        <h:panelGroup layout="block" class="col-lg-12">
                            <h:panelGroup layout="block" class="section-title">
                                <h2>Featured Product</h2>
                            </h:panelGroup>
                            <h:panelGroup layout="block" class="featured__controls">
                                <ul>
                                    <li class="active" data-filter="*">All</li>
                                    <li data-filter=".oranges">Oranges</li>
                                    <li data-filter=".fresh-meat">Fresh Meat</li>
                                    <li data-filter=".vegetables">Vegetables</li>
                                    <li data-filter=".fastfood">Fastfood</li>
                                </ul>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                    <h:panelGroup layout="block" class="row featured__filter">
                        <h:panelGroup layout="block" class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                            <h:panelGroup layout="block" class="featured__item">
                                <h:panelGroup layout="block" class="featured__item__pic" style="background-image: url('resources/img/featured/feature-1.jpg')">
                                    <ul class="featured__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </h:panelGroup>
                                <h:panelGroup layout="block" class="featured__item__text">
                                    <h6><a href="#">Crab Pool Security</a></h6>
                                    <h5>$30.00</h5>
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
            
        </ui:composition>
    </h:body>
</html>


 <!-- Categories Section Begin -->
    